.prim-btn {
    background-color: #7B61FF;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    height: 56px;
    transition: .2s;

    a {
        color: #fff;
        text-decoration: none;
    }

    &:hover {
        background-color: #917CFF;
    }

    &:disabled {
        background-color: #80858B;
        color: #AFB2B6;
    }
}