.link-btn__ {

    &img {
        width: 24px;
        height: 24px;
    }

    &container {
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: black;

        a {
            text-decoration: none;
            color: #80858B;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            padding-left: 23px;
            transition: .2s;


        }

        &:hover {
            a {
                color: #917CFF;
            }
        }
    }
}
