.input__ {
    &container {
        display: flex;
        flex-direction: column;
        // max-width: 438px;
        line-height: 24px;

        input {
            height: 56px;
            font-size: 16px;
            background-color: #323537;
            border-radius: 10px;
            border: none;
            color: #fff;
            padding-left: 20px;

            &:focus {
                outline: 2px solid #7B61FF;
            }

            &:disabled {
                background-color: #80858B;

                &::placeholder {
                    color: #AFB2B6;
                }
            }
        }

        label {
            color: #fff;
            padding-bottom: 8px;

        }
    }
}

.error {
    outline: 2px solid #FF5154;
}