.recommend-film__ {
    &container {
        max-width: 266px;
        line-height: 24px;

        img {
            width: 266px;
            height: 357px;
            border-radius: 20px;
        }

        &_title {
            padding-top: 24px;

            .title_dark {
                cursor: pointer;
                color: #fff;
                font-weight: 700;
                text-decoration: none;
                transition: .2s;

                &:hover {
                    color: #7B61FF;
                }
            }

            .title_light {
                cursor: pointer;
                color: #000;
                font-weight: 700;
                text-decoration: none;
                transition: .2s;

                &:hover {
                    color: #7B61FF;
                }
            }
        }
    }
}